.homePageHeader {
    position: relative;
    font-size: 30px;
    margin: 25px;
    text-align: center;
    color: white;
    z-index: 1;
}

.homePageSubHeader {
    position: relative;
    font-size: 15px;
    margin: 25px;
    text-align: center;
    color: white;
    z-index: 1;
}

.homeBoxesParent {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 90vw;
    height: 65vh;
}

.homeBoxChild {
    width: 200px;
    height: 200px;
    background-color: #AAAAAA;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    opacity: .80;
    box-shadow: 5px 5px 8px 1px black;
    text-decoration: none;
    color: black;
}

.homeBoxChild:hover {
    transform: scale(1.005);
    opacity: 1;
}

.homeBoxChildWords {
    font-size: 20px;
}