.cardParent {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cardParent > img {
    width: 250px;
    margin: 10px;
    border-radius: 13px;
}

.singleCardParent {
    position: absolute;
    top: 80px;
    left: 40%;
}

.singleCardParent > img {
    width: 350px;
    margin: 10px;
    border-radius: 13px;
}

.cardParent > img:hover {
    transform: scale(1.1);
}