.cardParent {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.cardParent > img {
    width: 250px;
    margin: 10px;
    border-radius: 13px;
}
