.suggestionsParent {
    position: absolute;
    font-size: 15px;
    top: 40px;
    right: 10px;
    z-index: 1;
    color: white;
    background: black;
    padding: 8px 25px;
    width: 190px;
    overflow: hidden;
    border-radius: 10px;
    opacity: .8;
}

.suggestionChild {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dashed white;
}