.asideParent {
    background-color: #666666;
    width: 10%;
    height: auto;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 10px;
    min-width: 118px;
}

.asideButton {
    position: sticky;
    width: 80%;
    margin: 2px 10%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #AAAAAA;
    color: black;
    outline: none;
}

.asideButton:hover {
    transform: scale(1.1);
}

.asideLibButton {
    top: 10px;
}

.asideCatButton {
    top: 33px;
}