.asideParent {
    background-color: #666666;
    width: 10%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 10px;
}

.asideParent > button {
    width: 80%;
    margin: 0% 10%;
}