.App {
    display: relative;
    background-color: black;
    background-image: url('https://wallpaperplay.com/walls/full/7/a/1/211257.jpg');
    background-repeat: no-repeat;
    background-position: top 50% right -12%;
    background-size: auto 105vh;
    background-attachment: fixed;
}

.main {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 25px;
}

.sameLine {
    display: flex;
}

.catNavButtons {
    position: fixed;
    bottom: 10px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #AAAAAA;
    opacity: .85;
    color: black;
    outline: none;
}

.randomButton {
    right: 10px;
}

.previousButton {
    right: 220px;
}

.nextButton {
    right: 115px;
}

.libButtons {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50px;
    margin: 5px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 100%;
    opacity: .5;
    outline: none;
}

.deleteAllCards {
    left: 9.7%;
    background-image: url('http://iconsetc.com/icons-watermarks/flat-circle-white-on-black/bfa/bfa_trash-o/bfa_trash-o_flat-circle-white-on-black_512x512.png');
    background-size: 30px;
}

.printAllCards {
    left: 11.7%;
    background-image: url('http://iconsetc.com/icons-watermarks/flat-circle-white-on-gray/bfa/bfa_print/bfa_print_flat-circle-white-on-gray_512x512.png');
    background-size: 30px;
}

.libButtons:hover {
    transform: scale(1.2)
}