.App {
    display: relative;
    background-color: black;
    background-image: url('https://wallpaperplay.com/walls/full/7/a/1/211257.jpg');
    background-repeat: no-repeat;
    background-position: top 50% right -12%;
    background-size: auto 105vh;
    background-attachment: fixed;
}

.main {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 25px;
}

.sameLine {
    display: flex;
}

.catNavButtons {
    position: fixed;
    bottom: 10px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #AAAAAA;
    opacity: .85;
    color: black;
    outline: none;
}

.randomButton {
    right: 10px;
}

.previousButton {
    right: 220px;
}

.nextButton {
    right: 115px;
}